/* Colors: 0C0C27 very dark blue; 0C0CED dark blue; 0C8BF7 light blue; 73E0CE lighter blue; 00E04A light green; 3BC700 green; FFFFFF white
https://kuler.adobe.com/create/color-wheel/?base=2&rule=Custom&selected=1&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.04650000000000004,0.046502278537670756,0.93,0.04850000000000004,0.5446162765583809,0.97,0.45098039215686275,0.88,0.807357453350578,0,0.88,0.2905105442243803,0.23127866951638681,0.78,0&swatchOrder=0,1,2,3,4 */

body {
    background-image: url('/assets/img/background.png');
    color: #0C0C27;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#content {
    width: 900px;
    border: 0px solid #0C0C27;
    margin: auto;
    padding: 10px;
}

header {
}

aside {
    float: left;
    width: 230px;
}

.section {
    background-color: #73E0CE;
    float: left;
    padding: 20px;
    width: 630px;
}

h1 {
    font-size: 2em;
}

p {
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a:link,
a:visited {
    color: #0C0CED;
}

a:hover,
a:active {
    color: #3BC700;
}

#main-nav {
    padding-left: 10;
}

.nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 10px;
}

.nav a {
    padding-left: 10px;
    display: block;
    background-color: #00E04A;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

.nav a:hover {
    padding-left: 20px;
}

.clear {
    clear: both;
}
