/* Colors: 0C0C27 very dark blue; 0D18FF dark blue; 0C50E8 blue; 0092FF lighter blue; 00C2E8 light blue; 00FFE3 lightest blue; FFFFFF white
https://kuler.adobe.com/create/color-wheel/?base=0&rule=Analogous&selected=4&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0,0.5732306259446887,1,0.050000000000000044,0.09369100017107712,1,0.04550000000000004,0.313158343142137,0.91,0,0.7615341148585685,0.91,0,1,0.8919465783505984&swatchOrder=0,1,2,3,4 */

body {
    background-image: url('/assets/img/background-texture.png');
    background-repeat: repeat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#content {
    width: 800px;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, .90);
}

#clouds {
    position:fixed;
    bottom:0;
    height:400px;
    left:0px;
    width:100%;
    z-index:-1;
    background-image:url('/assets/img/clouds.png');
    background-repeat: repeat-x;
    text-indent:-9999px;
}

header {
    background-image:url('/assets/img/city.png');
    height: 150px;
}

aside {
    float: left;
    width: 15%;
    height: 100%;
}

article:hover {
    background-color: rgba(0, 146, 255, .15);
}

.text {
    float: left;
    width: 85%;
}

article {
    background-color: rgba(0, 146, 255, .05);
    border-radius: 5px;
    float: left;
    padding: 2%;
    width: 90%;
    margin: 2%;
}


h1 {
    font-size: 2em;
}

p, article li {
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 4px;
}

a:link,
a:visited {
    color: black;
}

a:hover,
a:active {
    color: #0092FF;
}

#main-nav {
    padding-left: 10;
}

.logo {
    width: 35%;
    margin: auto auto;
    padding: 10px 0px;
}

#media-links {
    float: right;
}

.nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 10px;
}

.nav a {
    border-radius: 5px;
    margin-left: -100px;
    padding-left: 10px;
    display: block;
    background-color: rgba(12, 12, 39, .75);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
}

.nav a:link,
.nav a:visited {
    color: white;
}

.nav a:hover {
    padding-left: 20px;
}

.clear {
    clear: both;
}

.github {
    display: block;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-image: url('/assets/img/git.png');
}

.github:hover {
    margin: 5px;
    background-image: url('/assets/img/git-hover.png');
}

.linkedin {
    display: block;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-image: url('/assets/img/linkedin.png');
}

.linkedin:hover {
    margin: 5px;
    background-image: url('/assets/img/linkedin-hover.png');
}

.article-img {
    margin: 5px;
    float: left;
}

ul {
    list-style-type: none;
}
